@font-face{
  font-family: water;
  src: url("https://cdn.glitch.global/97f7bbb3-2cd9-4b34-bbf2-d0a28c71f10b/Water%20Park.ttf?v=1738683075854");
}

body {
  background-color: rgb(255, 240, 240);
  text-align: center;
  color: rgb(73, 53, 53);
  margin: auto;
  font-family: water;
}

h1{
  font-size: 30px;
}

#myCanvas {
  background-image: url("https://img.freepik.com/free-vector/flat-spring-background_23-2149258515.jpg");
  background-size: 700px, 500px;
  width: 600px;
  border-radius: 300px;
  border: 5px solid white;
}



